.retro_screen_border {
    position: fixed;
    width: 100%;
    height: 100%;
    border: 30px solid transparent;
    border-image-source: url(screen_transparent.png);
    border-image-slice: 30;
    border-image-outset: 0;
    pointer-events: none;
    z-index: 20;
}

.retro_screen_glowing {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(rgba(150, 150, 150, 0.4), transparent 100%);
    pointer-events: none;
    z-index: 2;
}

.retro_console_effect {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(0deg, transparent 1rem, black 1.2rem);
    background-size: 200% 200%;
    animation: barberpole 1s linear infinite;
    animation-direction: alternate;
    animation-duration: 500ms;
    pointer-events: none;
    z-index: 3;
}

@keyframes barberpole {
    100% {
        background-position: 100% 100%;
    }
}
